examples/example_flow.json
[
    {
        "id": "9f54bb16f9aae32a",
        "type": "inject",
        "z": "bedf3ffdf0b1e297",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"John Doe\"}",
        "payloadType": "json",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "5d24464cdecdd106"
            ]
        ]
    },
    {
        "id": "50b280dfa16aa450",
        "type": "debug",
        "z": "bedf3ffdf0b1e297",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "23b26db68d74a983",
        "type": "jsonlogic",
        "z": "bedf3ffdf0b1e297",
        "name": "",
        "engine": "54d129555b731d34",
        "mode": "operator",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"+\":[{\"var\":\"number\"},10]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "Operation Check",
        "outputs": 1,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "50b280dfa16aa450"
            ]
        ]
    },
    {
        "id": "3c1eb53b8732bc41",
        "type": "debug",
        "z": "bedf3ffdf0b1e297",
        "name": "Pass",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "b66841c73ecb0ff4",
        "type": "jsonlogic",
        "z": "bedf3ffdf0b1e297",
        "name": "",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"==\":[{\"var\":\"number\"},10]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "3c1eb53b8732bc41"
            ],
            [
                "d9db148fd42f3967"
            ]
        ]
    },
    {
        "id": "d9db148fd42f3967",
        "type": "debug",
        "z": "bedf3ffdf0b1e297",
        "name": "Fail",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "c760157c473bfeda",
        "type": "inject",
        "z": "bedf3ffdf0b1e297",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"number\":10}",
        "payloadType": "json",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "23b26db68d74a983",
                "b66841c73ecb0ff4"
            ]
        ]
    },
    {
        "id": "5d24464cdecdd106",
        "type": "jsonlogic",
        "z": "bedf3ffdf0b1e297",
        "name": "",
        "engine": "6d021524792f5088",
        "mode": "operator",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"hello\":{\"var\":\"name\"}}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 1,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "a228a086a8ccbc63"
            ]
        ]
    },
    {
        "id": "a228a086a8ccbc63",
        "type": "debug",
        "z": "bedf3ffdf0b1e297",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "54d129555b731d34",
        "type": "logic_engine",
        "name": "",
        "methods": ""
    },
    {
        "id": "6d021524792f5088",
        "type": "logic_engine",
        "name": "My Logic Engine",
        "methods": "engine.addMethod(\"hello\",name=>{\n    return \"Hello, \"+name+\"!\";\n})"
    }
]