examples/rule_mode_flow.json
[
    {
        "id": "f2d53c7a4fece389",
        "type": "tab",
        "label": "Rule Mode",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64979455e0ce73af",
        "type": "inject",
        "z": "f2d53c7a4fece389",
        "name": "Logic Injector",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"data\":{\"message\":\"World\",\"number\":5}}",
        "payloadType": "json",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "00a501c3b45cb124",
                "dd8993c812993c9a",
                "51390b7e137626cf",
                "7a78f5f187152ee1",
                "f30975266373e11a",
                "ae31a0ded5c36e37",
                "c1eadfa4ba55cf4e",
                "f08fd84227243d51"
            ]
        ]
    },
    {
        "id": "a0ea17d3d4718cf1",
        "type": "comment",
        "z": "f2d53c7a4fece389",
        "name": "Logic Operations Test",
        "info": "https://jessemitchell.me/json-jsonlogic-engine/docs/jsonlogic",
        "x": 240,
        "y": 280,
        "wires": []
    },
    {
        "id": "00a501c3b45cb124",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Greater Than",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\">\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "dd8993c812993c9a",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Equals",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"==\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 490,
        "y": 240,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "51390b7e137626cf",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Less Than",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"<\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "1a9df7313681c9c7",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "PASS (Logic)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "528fe58f283567ac",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "FAIL (Logic)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "c1eadfa4ba55cf4e",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Not (!)",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"!\":{\"var\":\"data.number\"}}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "f08fd84227243d51",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "toBoolean (!!)",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"!!\":{\"var\":\"data.number\"}}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 520,
        "y": 480,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "7a78f5f187152ee1",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Not Equals",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"!=\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 510,
        "y": 300,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "f30975266373e11a",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Greater Than Equals",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\">=\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "ae31a0ded5c36e37",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Less Than Equals",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"<=\":[{\"var\":\"data.number\"}, 5]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 530,
        "y": 420,
        "wires": [
            [
                "1a9df7313681c9c7"
            ],
            [
                "528fe58f283567ac"
            ]
        ]
    },
    {
        "id": "677b56aed6e51249",
        "type": "inject",
        "z": "f2d53c7a4fece389",
        "name": "String Injector",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"string\":\"World\"}",
        "payloadType": "json",
        "x": 270,
        "y": 680,
        "wires": [
            [
                "2947c767695bdff0"
            ]
        ]
    },
    {
        "id": "c31aa8552e28536b",
        "type": "comment",
        "z": "f2d53c7a4fece389",
        "name": "String Operations Test",
        "info": "https://jessemitchell.me/json-jsonlogic-engine/docs/string",
        "x": 240,
        "y": 640,
        "wires": []
    },
    {
        "id": "2947c767695bdff0",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Includes",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"in\":[{\"var\":\"string\"}, \"World\"]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 500,
        "y": 680,
        "wires": [
            [
                "99dd93b860cae7c9"
            ],
            [
                "ed046a8dfb7a8172"
            ]
        ]
    },
    {
        "id": "99dd93b860cae7c9",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "PASS (String)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 660,
        "wires": []
    },
    {
        "id": "ed046a8dfb7a8172",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "FAIL (String)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "168f5451eb5ebd15",
        "type": "inject",
        "z": "f2d53c7a4fece389",
        "name": "Array Injector",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "x": 270,
        "y": 800,
        "wires": [
            [
                "a04a1bc3d126852c"
            ]
        ]
    },
    {
        "id": "0f4d736224863843",
        "type": "comment",
        "z": "f2d53c7a4fece389",
        "name": "Array Operations Test",
        "info": "https://jessemitchell.me/json-jsonlogic-engine/docs/array",
        "x": 240,
        "y": 760,
        "wires": []
    },
    {
        "id": "a04a1bc3d126852c",
        "type": "jsonlogic",
        "z": "f2d53c7a4fece389",
        "name": "Includes",
        "engine": "54d129555b731d34",
        "mode": "rule",
        "data": "payload",
        "dataType": "msg",
        "rule": "{\"in\":[6,{\"var\":\"\"}]}",
        "ruleType": "json",
        "checkpoint": true,
        "checkpointMessage": "",
        "outputs": 2,
        "x": 500,
        "y": 800,
        "wires": [
            [
                "b5f4a73bd4c7d40b"
            ],
            [
                "8edcc1e55c5752d2"
            ]
        ]
    },
    {
        "id": "b5f4a73bd4c7d40b",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "PASS (String)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 780,
        "wires": []
    },
    {
        "id": "8edcc1e55c5752d2",
        "type": "debug",
        "z": "f2d53c7a4fece389",
        "name": "FAIL (String)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 840,
        "wires": []
    },
    {
        "id": "54d129555b731d34",
        "type": "jsonlogic_engine",
        "name": "",
        "methods": ""
    }
]